.token-sidebar {
  width: 180px;
  background: grey;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.token-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 80vh;
}

.token-sidebar h3 {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
