.footer
{
  margin-top: 50px;
}

.footer-content
{
  display: flex;
}

.footer-section
{
  padding: 10px;
  padding-left: 20px;
  width: 30%;
}

#footer-border
{
  border-radius: var(--border-radius);
  border: 2px solid transparent;

  /* Makes the border gradient */
  background: linear-gradient(135deg,rgba(80, 111, 23, 1) 0%, rgba(255, 255, 255, 1) 45%) padding-box,
              linear-gradient(45deg, #ffffff, var(--text-color3), #ffffff) border-box;
  
  border-right: none;
  border-bottom: none;
}

.footer-header
{
  font-size: var(--head-text);
  text-decoration: underline;
}

.footer-description
{
  font-size: var(--body-text);
  margin-left: 10px;
}

/* The social images */
.footer-socials
{
  margin-left: 10px;
  padding-top: 25px;
}
.footer-socials svg
{
  margin-right: 20px;
}
/* The individual social images (used for hover transition) */
.footer-socials-twitter, .footer-socials-discord, .footer-socials-github
{
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.footer-socials-twitter:hover, .footer-socials-discord:hover, .footer-socials-github:hover
{ 
  transform: translateY(-2px);
}

/* The list of links under company */
.footer-list a
{
  font-size: var(--body-text);
  color: var(--text-color);
  text-decoration: underline;
  margin-left: 10px;
}
.footer-list a:hover
{
  color: var(--text-color3);
  transition: 0.5s;
}

/* The footer image */
.footer-image img
{
  width: 300px;
}

/* the copyright and badge */
.footer-rights
{
  display: flex;
  padding-left: 20px;
  margin-bottom: 20px;
}
/* The badge */
.footer-badge
{ 
  color: var(--text-color2);
  background: linear-gradient(135deg,rgba(80, 111, 23, 1) 0%, rgba(44, 65, 7, 1) 45%);
  border-radius: var(--border-radius3);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 510px;
}