.navigation /* Navigation Side-bar */
{
    background: var(--background-colour);
    width: 350px;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    height: 100vh;
}

.navigation nav /* Navigation Side-bar */
{
    margin-left: 15%;
}

nav a /* Navigation Side-bar links */
{
    font-size: var(--head-text);
    color: var(--text-color);
}
nav a:hover /* Navigation Side-bar links */
{
    color: var(--text-color3);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    transition: 0.5s;
}

#Waystone_Logo-sidebar
{
    cursor: pointer;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--background-colour3);
}

#button-green-sidebar /* The Exit button in the sidebar */
{   
    background: transparent;
    border-radius: var(--border-radius);
    border: 2px var(--text-color) solid;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}
#button-green-sidebar:hover
{
    background: var(--background-colour4);
    color: var(--text-color2);
    transition: 0.5s;
}