#account-box /* All the sections (the profile, the campaigns, the notes) */
{
    border-radius: var(--border-radius);
    background: var(--background-colour);
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    max-width: 90%;
}

.account-profile /* The profile section (the profile image, username, description) */
{
    align-items: center;
    gap: 20px;
}

#account-profile-image /* the profile image */
{
    background: var(--background-colour3);
    object-fit: cover;
    border-radius: 500px;
    height: 200px;
    width: 200px;
}

.account-details /* The profile username and the description */
{
    position: relative;
}

.account-details p /* the description */
{
    width: 860px;
}

.account-edit-icon /* The account edit icon */
{
    float: right;
    text-align: center;
    border: 1px var(--background-colour3) solid;
    border-radius: var(--border-radius);
    color: var(--text-color3);
    padding: 5px;
    margin: 5px;
    width: 27px;
    height: 27px;
    opacity: 0.6;
    transition: transform 0.25s ease;
}
.account-edit-icon:hover /* The account edit icon while the cursor hovers over it */
{
    background-color: var(--form-box-colour);
    color: var(--text-color3);
    border: none;
    opacity: 1;
    transition: 0.3s;
    transform: rotate(-10deg) scale(1.1);
}

.account-campaigns /* The campaigns section of the account (total, last played) */
{
    /* Because the account-box is in flex display */
    flex-direction: column;
}

#account-archived /* Archived campaigns button */
{
    padding-top: 20px;
}

#account-archived a /* Archived campaigns link styling */
{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.account-notes /* The notes */
{
    /* Because the account-box is in flex display */
    flex-direction: column;
    
    gap: 20px;
    margin-top: 20px;
}
.account-notes textarea /* The notes textarea */
{   
    border: none;
    height: 100px;
    background-color: transparent;
}
.account-notes button /* The notes save button */
{   
    width: 100px;
}