.account-actions {
  margin-top: 20px;
}

.account-details input {
  width: 500px;
  padding: 8px;
  border: 1px solid var(--background-colour3);
  border-radius: var(--border-radius);
  background: var(--form-box-colour);
  color: var(--text-color);
}

.account-details textarea {
  width: 600px;
  height: 80px;
  padding: 8px;
  border: 1px solid var(--background-colour3);
  border-radius: var(--border-radius);
  background: var(--form-box-colour);
  color: var(--text-color);
  resize: vertical;
}

.account-details label {
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
}

.account-profile {
  align-items: flex-start;
  gap: 40px;
  justify-content: flex-end;
}

.account-avatar-wrap img {
  background: var(--background-colour3);
  object-fit: cover;
  border-radius: 500px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
