/* This is all the css for the Add/View pop-ups */
*
{
    --addview-text: 60px;
    --adview-text2: 22px;
    --text-color4: #D34848;
    --background-gradient2: radial-gradient(circle, rgb(56, 78, 16) 50%, rgb(27, 40, 4) 100%);
}

#addview-page /* The gray_/black_ background for the pop-ups */
{
    overflow-y: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: flex-start; 
    inset: 0;
    padding: 30px; 
    background: rgba(0, 0, 0, 0.4);
}

#addview-box /* The pop-up */
{
    border-radius: var(--border-radius);
    background-color: var(--background-colour);
    width: 550px;
    margin: 40px;
    box-shadow: 5px 5px 100px 25px rgba(43, 43, 43, 0.3);
}

#addview-title /* The title inside the green_ bar */
{
    background: var(--background-gradient);
    font-size: var(--addview-text);
    color: var(--text-color2);
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}

#addview-content /* All the content bellow the green_ bar */
{
    margin-left: 50px;
}
.addview-uploadimg  /* Uploading an image */
{
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#addview-discription textarea /* A textarea for a discription */
{
    width: 350px;
    height: 150px;
}

#view-title-box /* The green_ small titles in the view pages (vertical) */
{
    border-radius: var(--border-radius2);
    background: var(--background-gradient);
    text-align: center;
    width: 210px;
}
.view-title-box-long /* The green_ small titles in the view pages (the long ones) */
{
    border-radius: var(--border-radius2);
    background: var(--background-gradient);
    text-align: center;
    width: 90%;
}
#view-title /* The HP, LVL, EXP and STATUS titles */
{
    color: var(--text-color2);
    padding: 2px; 
}
#view-body /* The actual stats */
{
    margin-left: 20px;
    padding-right: 30px;
}

#addview-linebreak /* The line in-between sections */
{
    border-radius: var(--border-radius2);
    background-color: var(--background-colour4);
    height: 5px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#view-stats-main-title /* The HP, LVL, EXP, STATUS small titles in the view pages */
{
    border-radius: var(--border-radius2);
    color: var(--text-color2);
    font-size: var(--adview-text2);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}
.view-stats-main /* The HP, LVL, EXP, STATUS sections */
{
    margin-top: 20px;
}
.view-stats-main-title-1 { background-color: var(--projectbox-colour2); } /* HP */
.view-stats-main-title-2 { background-color: var(--projectbox-colour3); } /* LVL */
.view-stats-main-title-3 { background-color: var(--projectbox-colour); } /* EXP */
.view-stats-main-title-4 { background-color: var(--background-colour2); } /* STATUS */
.view-hp  /* the HP */
{
    color: var(--text-color4);
    font-weight: bold;
}

#addview-stats /* A section of stats in View_Character (also used throughout other places like the inventory) */
{
    display: flex;
}
#addview-stats div /* A singular stat inside a section of stats in View_Character */
{
    margin-right: 15px;
}
.view-body-tocenter /* The actual stats (Just to center it) */
{
    text-align: center;
    padding-right: 40px;
    padding-bottom: 10px;
}

#view-paragraph-section /* the whole inventory section */
{ 
    border-radius: var(--border-radius2);
    background-color: var(--background-colour2);
    color: var(--text-color2);
    width: 250px; 
    padding-left: 15px;
    margin-top: 20px;
    margin-left: 0px;
}
#view-paragraph-section p /* the whole inventory section (text within) */
{
    color: var(--text-color);
}
#view-paragraph-section b /* the whole inventory section (title) */
{
    color: var(--text-color2);
    font-size: var(--adview-text2);
    margin-right: 5px;
}

#view-status-body /* The effects underneath STATUS */
{
    padding-left: 10px;
}

.view-required-logo /* The Required_Logo (here used as the Info_Logo) */
{
    transform: scaleY(-1);
}

/* The collapsable parts */
#view-collapsable-sections-button
{
    border-radius: var(--border-radius2);
    background: var(--background-gradient2);
    color: var(--text-color2);
    font-size: var(--adview-text2);
    border: none;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}
#view-hide-show
{
    border-radius: var(--border-radius2);
    border: 2px var(--text-color2) solid;
    color: var(--text-color2);
    float: right;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}