/* This is all the css for the Add/View pop-ups */
*
{
    --addview-text: 60px;
}

#addview-page 
{
    overflow-y: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: flex-start; 
    inset: 0;
    padding: 30px; 
    background: rgba(0, 0, 0, 0.4);
}

#addview-box
{
    border-radius: var(--border-radius);
    background-color: var(--background-colour);
    width: 550px;
    margin: 40px;
    box-shadow: 5px 5px 100px 25px rgba(43, 43, 43, 0.3);
}

#addview-title
{
    background: var(--background-gradient);
    font-size: var(--addview-text);
    color: var(--text-color2);
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}

#addview-content
{
    margin-left: 50px;
}
.addview-uploadimg  
{
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#addview-discription textarea 
{
    width: 350px;
    height: 150px;
}
#view-title-box
{
    border-radius: var(--border-radius2);
    background: var(--background-gradient);
    text-align: center;
    width: 200px;
}
#view-title
{
    color: var(--text-color2);
    padding: 2px; 
}