* /* Defined sets of colours, font sizes, etc. to use for the whole website */
{
    --title-text: 120px;
    --head-text: 25px;
    --body-text: 20px;
    --text-color: #303030;
    --text-color2: #ffffff;
    --background-gradient: radial-gradient(circle, rgba(80, 111, 23, 1) 50%, rgba(44, 65, 7, 1) 100%);
    --background-colour:#ffffff;
    --background-colour2:#d9d9d9;
    --background-colour3:#bfbfbf;
    --projectbox-colour: #E7D665; /* Other 2 colours are: #D34848 and #447DC9 */

    font-family: Garamond, serif, cursive;
    color: var(--text-color);
    margin: 0;
}
nav /* Navigation Side-bar */
{
    background: var(--background-colour);
    color: var(--text-color);
    font-size: var(--head-text);
    width: 350px;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
}
nav a /* Navigation Side-bar links */
{
    /* padding, margin, etc. */
}
#Waystone_Logo
{
    /* TO BE ABJUSTED WHEN TRUE IMG IS ADDED */
    width: 50%;
}
#Settings_Logo
{
    /* TO BE ABJUSTED WHEN TRUE IMG IS ADDED */
    width: 10%;
}

#main /* the whole page minus the navigation */
{
    margin-left: 350px; /* = nav width */
}

#title /* The green_ bar where the page type (welcome, account, new campaign, etc.)  */
{
    border-bottom-left-radius: 10px;
    background: var(--background-gradient);
    width: 100%;
    height: 140px;
    padding-bottom: 50px;
    text-align: center;
}
#title p /* The text inside the green_ bar */
{
    color: var(--text-color2);
    font-size: var(--title-text);
}

#content /* Gray section under the green_ bar */
{
    border-top-left-radius: 10px;
    background-color: var(--background-colour2);
    font-size: var(--head-text);
    margin-top: 100px;
    padding: 30px;
}

#box-section /* a card box section (first used for My Campaigns at the Main_Page) */
{
    margin-bottom: 20px;
    display: flex;
}

#box-text p /* a card box section (first used for My Campaigns at the Main_Page) */
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--projectbox-colour);
    color: var(--text-color2);
    font-size: var(--body-text);
    text-align: right;
    margin-left: 30px;
    margin-top: 10px;
    width: 250px;
    height: 100px;
}
#box /* a card box (part of it) (first used for My Campaigns at the Main_Page) */
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-colour);
    margin-left: 30px;
    height: 40px;
    width: 250px;
    height: 40px;
}

#news-box-section /* a news box section */
{
    margin-top: 10px;
}
#news-box /* a news box */
{
    border-radius: 10px;
    background-color: var(--background-colour);
    display: flex;
    margin-bottom: 20px;
}
#news-box-img /* a news box (part of it) */
{
    padding: 15px;
    width: 25%;
    height: auto;
}
#news-box-text /* a news box (part of it) */
{
    color: var(--text-color);
    font-size: var(--body-text);
    padding: 10px;
}

/* Try and used existing css if possible */
/* Add more necessary CSS here */