#login-register-page /* The full page */
{
  background: var(--background-colour);
  --login-register-text: 60px;

  display: flex;
  height: 100vh; /* The view-height */
  width: 100vw; /* The view-width */
}

/* Login & register section */
#login-register-section /* Login & register form */
{
  background: var(--background-colour);
  
  /* Displays content center & horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 120px;
  width: 30%;
}
#login-register-title /* Login & register title */
{
  font-size: var(--login-register-text);
  padding-bottom: 10px;
  margin-bottom: 35%;    
}

/* Register link */
#login-register-link 
{
  color: var(--link-colour);
  font-size: var(--link-text);
  text-decoration: underline;
  margin-top: 5px;
  margin-left: 5px;
}
#login-register-link:hover 
{
  color: var(--text-color);
  transition: 0.5s;
}

/* The form buttons */
#login-register-button
{
  padding-top: 10px; /* To stop the top of the button from clipping during the animation */
}
#login-register-button #button-green /* The enter button */
{
  width: 140px;
}

/* Background and Waystone_Logo */
#login-image-section 
{
  flex: 1; /* It's position in-front / behind other items */
  min-height: 100vh; /* The minimum height is the view-height */

  /* To avoid the image looking 'off' */
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;

  /* In case the background image doesn't load ('a back-up') */
  background-color: var(--background-colour4);
  position: relative;
}