#login-register-page /* The full page */
{
  --login-register-text: 60px;

  display: flex;
  height: 100vh; /* The view-height */
  width: 100vw; /* The view-width */
}

/* Login & register section */
#login-register-section /* Login & register form */
{
  background: var(--background-colour);
  
  /* Displays content center & horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30%;
  padding: 40px;
}
#login-register-title /* Login & register title */
{
  font-size: var(--login-register-text);
  margin-bottom: 90px;
  overflow: hidden;       
}

/* Register link */
#login-register-link 
{
  color: var(--link-colour);
  font-size: var(--link-text);
  text-decoration: underline;
  margin-top: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#login-register-link:hover 
{
  transform: translateY(-1px);
}

/* The form button (just to center it) */
#login-register-button
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Background and Waystone_Logo */
#login-image-section 
{
  flex: 1; /* It's position in-front / behind other items */
  min-height: 100vh; /* The minimum height is the view-height */

  /* To avoid the image looking 'off' */
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;

  /* In case the background image doesn't load */
  background-color: var(--background-colour4);
  position: relative;
}