/* New_Campaign_Page_ALL */
#campaign-tabs /* The buttons (campaign, mapbuilder, character)*/
{
  
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -60px;
  gap: 120px;
}
#campaign-tab, #campaign-tab-active /* The top 3 buttons */
{
  border-radius: var(--border-radius3);
  background: var(--background-colour3);
  color: var(--text-color2);
  font-size: var(--head-text);
  border: none;
  height: auto;
  opacity: 0.5;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#campaign-tab-active /* The active button within the top 3 button */
{
  background: var(--background-gradient);
  opacity: 1;
}
#campaign-tab:hover /* The gray_ top 3 buttons while hovering */
{
  box-shadow: 0 8px 20px rgba(43, 43, 43, 0.2);
  transform: translateY(-2px);
  opacity: 1;
  transition: 0.5s;
}
#campaign-tab-active:hover /* The active button within the top 3 button while hovering */
{
  cursor: auto;
}



/* New_Campaign_Page_CAMPAIGN */

.campaign-actions /* The save and continue, and enter button */
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-top: 20px;
  width: 95%;
  border-top: 2px solid var(--background-colour3);
}



/* New_Campaign_Page_MAPBUILDER */
#campaign-select select
{
  background-color: white;
  border-radius: var(--border-radius);
  border: none;
  width: 250px;
  height: 50px;
  padding: 5px;
}



/* New_Campaign_Page_CHARACTERS */
/* *On the main CSS* */



/* Add_Character */
.character-base-stat /* the individual base stats (ex. name, race, ...) */
{
  display: flex;
  flex-direction: column;
}
.character-base-stats-section /* The sections of the stats, each containing 3 input boxes per section */
{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

/* The ability scores */
.ability-grid /* The ability section */
{
  display: flex;
  flex-wrap: wrap;
}
.ability-box /* The individual ability box */
{
  background: var(--background-gradient2);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 20px;
  width: 270px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.ability-name, .skill-label /* The ability and skill name */
{
  color: var(--text-color2);
  font-size: var(--body-text);
  text-transform: uppercase;
  font-weight: 600;
}
.ability-inputs /* The ability input field and ability +modifier */
{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ability-score /* The ability input field */
{
  background-color: white;
  border-radius: var(--border-radius);
  text-align: center;
  border: none;
  width: 150px;
}
.ability-modifier /* The ability +modifier */
{
  background: var(--background-colour4);
  color: var(--text-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  font-weight: 600;
}
/* The checkboxes of Saving Throw Proficiencies */
#combat-statistics-checkboxes /* The checkbox section */
{
  margin-top: 20px
}
#combat-statistics-checkboxes label /* The title per checkbox */
{
  margin-right: 50px;
}
#combat-statistics-checkboxes input /* The checkbox */
{
  border-radius: var(--border-radius3);
  background: #ffffff;   /* stays white_ in dark mode */
  appearance: none; /* Makes it be customizable */
  border: none;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
#combat-statistics-checkboxes input:hover /* The checkbox while hovering */
{
  border-color: var(--text-color3);
}
#combat-statistics-checkboxes input:checked /* The checkbox when clicked on */
{
  background: var(--text-color3);
  border: 2px var(--text-color4) solid;
}

/* The skills */
.skill-row /* The row of a skill */
{
  background: var(--background-colour3);
  border-radius: var(--border-radius);
  display: grid;
  padding: 15px;
  margin-bottom: 20px;
  grid-template-columns: 250px 1fr;
}
.skill-row:first-child /* The first row of the skills list */
{
  background: var(--background-gradient2);
  color: var(--text-color2);
  font-weight: 600;
}

.skill-bonus /* The green_ skills +modifier */
{
  background: var(--background-gradient);
  color: var(--text-color2);
  border-radius: var(--border-radius);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
  font-weight: 600;
}
.skill-select /* The proficiency modifier */
{ 
  background-color: white;
  border-radius: var(--border-radius);
  border: none;
  padding: 15px;
  margin-right: 15px;
  font-weight: 600;
}