/* Settings Page Layout */
.settings-content {
    max-width: 800px;
    margin-left: 280px;
    padding: 25px 40px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

#settings-password
{
    display: flex;
    gap: 20px;
}

#settings-passwords
{
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
}

#settings-box {
    border-radius: 10px;
    background: var(--background-colour);
    padding: 30px;
    margin: 0 auto 30px auto; /* centreert horizontaal */
    max-width: 800px;        /* optioneel, maar sterk aangeraden */
    box-sizing: border-box;
    outline: 1px solid rgb(138, 78, 240) !important;
}


#settings-box b
{
    font-size: var(--head-text);
}

/* Responsive Design */
@media (max-width: 768px) {
  .settings-content {
    padding: 15px;
  }
  
  #settings-password {
    flex-direction: column;
    gap: 10px;
  }
  
  #settings-passwords {
    width: 100%;
    padding: 10px;
  }
  
  #settings-box {
    padding: 20px;
  }
  
  #settings-language-radiobtn label {
    margin-right: 10px;
  }
}