#settings-password
{
    display: flex;
}
#settings-passwords
{
    padding: 20px;
    width: 350px;
}

#settings-language-radiobtn input[type="radio"] 
{
    accent-color: var(--text-color3);
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
#settings-language-radiobtn label 
{
    cursor: pointer;
    margin-left: 20px;
}

#settings-box
{
    border-radius: 10px;
    background: var(--background-colour);
    padding: 20px;
    margin-bottom: 30px;
}
#settings-box b
{
    font-size: var(--head-text);
}